<div class="jumbotron">
  <h1 class="display-4 text-center">{{title}}</h1>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 float-right"><button class="btn btn-primary mb-2" (click)="goToDetail(0)">Add New User</button><button class="btn btn-danger mb-2 ml-2" [disabled]="!deleteValid" (click)="deleteUsers()">Delete Selected Users</button></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Date Of Birth</th>
              <th scope="col">Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users">
              <td *ngIf="!containsUser(item)"><input type="checkbox" (click)="usersToDelete.push(item)" /></td>
              <td *ngIf="containsUser(item)"><input type="checkbox" (click)="removeUser(item)" checked /></td>
              <td><button class="btn btn-primary" (click)="goToDetail(item.UserId)">Edit</button></td>
              <td>{{item.FirstName}}</td>
              <td>{{item.LastName}}</td>
              <td>{{item.DateOfBirth}}</td>
              <td>{{item.Gender}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
      
