<div class="jumbotron">
  <ng-container *ngIf="dataId > 0; else newUser">
    <h1 class="display-4 text-center">{{data.firstName}} {{data.lastName}}</h1>
    <hr />
  </ng-container>
  <ng-template #newUser>
    <h1 class="display-4 text-center">New User</h1>
    <hr />
  </ng-template>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name</label>
            <input name="FirstName" #FirstName="ngModel" [(ngModel)]="data.firstName" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Last Name</label>
            <input name="LastName" #LastName="ngModel" [(ngModel)]="data.lastName" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Username</label>
            <input name="UserName" #UserName="ngModel" [(ngModel)]="data.username" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Password</label>
            <input name="Password" #Password="ngModel" type="password" [(ngModel)]="data.password" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Verify Password</label>
            <input name="VerifyPassword" #VerifyPassword="ngModel" type="password" [(ngModel)]="verifiedPassword" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Date Of Birth</label>
            <input name="DateOfBirth" #DateOfBrith="ngModel" [(ngModel)]="data.dateOfBirth" class="form-control" type="date" required />
            <!--<label *ngIf="DateOfBirth.invalid && DateOfBirth.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Male</label>
            <input name="Gender" #Gender="ngModel" type="radio" [(ngModel)]="data.gender" [value]="'Male'" class="form-control" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Female</label>
            <input name="Gender" #Gender="ngModel" type="radio" [(ngModel)]="data.gender" [value]="'Female'" class="form-control" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Other</label>
            <input name="Gender" #Gender="ngModel" type="radio" [(ngModel)]="data.gender" [value]="'Other'" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Address Line 1</label>
            <input name="AddressLine1" #AddressLine1="ngModel" [(ngModel)]="address.addressLine1" class="form-control" required />
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Address Line 2</label>
            <input name="AddressLine2" #AddressLine2="ngModel" [(ngModel)]="address.addressLine2" class="form-control" />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <input name="City" #City="ngModel" [(ngModel)]="address.city" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>State</label>
            <input name="State" #State="ngModel" [(ngModel)]="address.state" class="form-control" required />
            <!--<label *ngIf="Password.invalid && Password.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>ZIP</label>
            <input name="Zip" #Zip="ngModel" [(ngModel)]="address.zip" class="form-control" required />
            <!--<label *ngIf="Password.invalid && Password.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-light btn-block" (click)="goToMaster()">Back</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="onSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
