<div class="jumbotron">
  <ng-container *ngIf="dataId > 0; else newGame">
    <h1 class="display-4 text-center">{{data.firstName}} {{data.lastName}}</h1>
    <hr />
  </ng-container>
  <ng-template #newGame>
    <h1 class="display-4 text-center">New User</h1>
    <hr />
  </ng-template>
  <!--TODO: Change this to be similar to the registration component-->
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name</label>
            <input name="FirstName" #FirstName="ngModel" [(ngModel)]="data.firstName" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Last Name</label>
            <input name="LastName" #LastName="ngModel" [(ngModel)]="data.lastName" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Username</label>
            <input name="UserName" #UserName="ngModel" [(ngModel)]="data.username" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Password</label>
            <input name="Gender" #Password="ngModel" type="password" [(ngModel)]="data.password" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Date Of Birth</label>
            <input name="DateOfBirth" #DateOfBirth="ngModel" type="date" [(ngModel)]="data.dateOfBirth" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Gender</label>
            <input name="Gender" #Gender="ngModel" [(ngModel)]="data.gender" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="Address">Address</label>
            <select name="Address" id="Address" [(ngModel)]="data.addressId" class="form-control">
              <ng-container *ngFor="let address of addresses">
                <option [value]="address.addressId">{{address.addressLine1}} {{address.city}}, {{address.state}} {{address.zip}}</option>
              </ng-container>
            </select>
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-light btn-block" (click)="goToMaster()">Back</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="onSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
