<div class="jumbotron">
  <ng-container *ngIf="dataId > 0; else newTeam">
    <h1 class="display-4 text-center">{{data.name}}</h1>
    <hr />
  </ng-container>
  <ng-template #newTeam>
    <h1 class="display-4 text-center">New Team</h1>
    <hr />
  </ng-template>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <input name="Name" #Name="ngModel" [(ngModel)]="data.name" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Coach</label>
            <input name="CoachName" #CoachName="ngModel" [(ngModel)]="data.coachName" class="form-control" [disabled]="dataId != 0" />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Gender</label>
            <input name="Gender" #Gender="ngModel" [(ngModel)]="data.gender" class="form-control" required />
            <!--<label *ngIf="Username.invalid && Username.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Birth Year</label>
            <input name="BirthYear" #BirthYear="ngModel" type="number" [(ngModel)]="data.birthYear" class="form-control" required />
            <!--<label *ngIf="Password.invalid && Password.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-light btn-block" (click)="goToMaster()">Back</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="onSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
