<div class="jumbotron">
  <ng-container *ngIf="dataId > 0; else newParent">
    <h1 class="display-4 text-center">{{data.fullName}}</h1>
    <hr />
  </ng-container>
  <ng-template #newParent>
    <h1 class="display-4 text-center">New Parent</h1>
    <hr />
  </ng-template>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="User">User</label>
            <select name="User" id="User" [(ngModel)]="data.userId" class="form-control">
              <ng-container *ngFor="let user of users">
                <option [value]="user.userId">{{user.fullName}}</option>
              </ng-container>
            </select>
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="Player">Player</label>
            <select name="Player" id="Player" [(ngModel)]="data.playerId" class="form-control">
              <ng-container *ngFor="let player of players">
                <option [value]="player.playerId">{{player.fullName}}</option>
              </ng-container>
            </select>
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-light btn-block" (click)="goToMaster()">Back</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="onSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
