<div class="jumbotron" (onSubmit)="onSubmit()">
  <h1 class="display-4 text-center">Questionnaire</h1>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Date</label>
            <input name="Date" #Date="ngModel" [(ngModel)]="data.practiceTime" class="form-control" type="datetime-local" required />
            <!--<label *ngIf="DateOfBirth.invalid && DateOfBirth.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Stable/Pod/Group</label>
            <input name="Stable" #Stable="ngModel" [(ngModel)]="data.stable" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Program</label>
            <input name="Program" #Program="ngModel" [(ngModel)]="data.program" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="Player">Player</label>
            <select name="Player" id="Player" [(ngModel)]="data.playerId" class="form-control">
              <ng-container *ngFor="let player of players">
                <option [value]="player.playerId">{{player.fullName}}</option>
              </ng-container>
            </select>
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Drop Off Time</label>
            <input name="DropOff" #DropOff="ngModel" [(ngModel)]="data.dropOffTime" class="form-control" type="time" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Participant/Coach Telephone Number</label>
            <input name="CoachPhone" #CoachPhone="ngModel" [(ngModel)]="data.coachPhone" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Emergency Contact</label>
            <input name="EmergencyContact" #EmergencyContact="ngModel" [(ngModel)]="data.emergencyContact" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Emergency Phone</label>
            <input name="EmergencyPhone" #EmergencyPhone="ngModel" [(ngModel)]="data.emergencyPhone" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Temperature</label>
            <input name="Temperature" #Temperature="ngModel" [(ngModel)]="data.temperature" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Fever?</label>
            <input name="Fever" #Fever="ngModel" [(ngModel)]="data.fever" class="form-control" type="checkbox" />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Any fever within the last 4-8 hours?</label>
            <input name="PastFever" #PastFever="ngModel" [(ngModel)]="data.pastFever" class="form-control" type="checkbox" />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Cough?</label>
            <input name="Cough" #Cough="ngModel" [(ngModel)]="data.cough" class="form-control" type="checkbox" />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Shortness of Breath?</label>
            <input name="ShortnessOfBreath" #ShortnessOfBreath="ngModel" [(ngModel)]="data.shortnessOfBreath" class="form-control" type="checkbox" />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Close contact with anyone with COVID-19?</label>
            <input name="CovidContact" #CovidContact="ngModel" [(ngModel)]="data.covidContact" class="form-control" type="checkbox" />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Last time out of state?</label>
            <input name="StateTime" #StateTime="ngModel" [(ngModel)]="data.outOfStateTime" class="form-control" type="date" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Pick Up Time</label>
            <input name="PickUpTime" #PickUpTime="ngModel" [(ngModel)]="data.pickUpTime" class="form-control" type="time" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-light btn-block" (click)="goToMaster()">Back</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="onSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

