<div class="jumbotron">
  <h1 class="display-4 text-center">Questionnaires</h1>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 float-right"><button class="btn btn-primary mb-2" (click)="goToDetail(0)">Add New Questionnaire</button><button class="btn btn-danger mb-2 ml-2" [disabled]="!deleteValid" (click)="deleteQuestionnaires()">Delete Selected Questionnaires</button></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Player</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let questionnaire of questionnaires">
              <tr>
                <td *ngIf="!containsQuestionnaire(questionnaire)"><input type="checkbox" (click)="questionnairesToDelete.push(questionnaire)" /></td>
                <td *ngIf="containsQuestionnaire(questionnaire)"><input type="checkbox" (click)="removeQuestionnaire(questionnaire)" checked /></td>
                <td><button class="btn btn-primary" (click)="goToDetail(questionnaire.questionnaireId)">Edit</button></td>
                <td>{{questionnaire.fullName}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

