<div class="jumbotron">
  <h1 class="display-4 text-center">{{title}}</h1>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 float-right"><button class="btn btn-primary mb-2" (click)="goToDetail(0)">Add New Coach</button><button class="btn btn-danger mb-2 ml-2" [disabled]="!deleteValid" (click)="deleteCoach()">Delete Selected Coaches</button></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Date Of Birth</th>
              <th scope="col">Gender</th>
              <th scope="col">Teams Coached</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of coaches">
              <td *ngIf="!containsCoach(item)"><input type="checkbox" (click)="coachesToDelete.push(item)" /></td>
              <td *ngIf="containsCoach(item)"><input type="checkbox" (click)="removeCoach(item)" checked /></td>
              <td><button class="btn btn-primary" (click)="goToDetail(item.coachId)">Edit</button></td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.dateOfBirth}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.teamsCoached}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

