<div class="jumbotron">
  <ng-container *ngIf="dataId > 0; else newGame">
      <h1 class="display-4 text-center">{{data.homeTeamName}} versus {{data.awayTeamName}}</h1>
      <hr />
  </ng-container>
  <ng-template #newGame>
      <h1 class="display-4 text-center">New Game</h1>
      <hr />
  </ng-template>
  <div class="row">
    <div class="col-md-12">
      <!--TODO: Change this both to dropdowns-->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Home Team</label>
            <input name="HomeTeamName" #HomeTeamName="ngModel" [(ngModel)]="data.homeTeamName" class="form-control" disabled />
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Away Team</label>
            <input name="AwayTeamName" #AwayTeamName="ngModel" [(ngModel)]="data.awayTeamName" class="form-control" disabled />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Home Score</label>
            <input name="HomeGoals" #HomeGoals="ngModel" [(ngModel)]="data.homeGoals" class="form-control" required />
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Away Score</label>
            <input name="AwayGoals" #AwayGoals="ngModel" [(ngModel)]="data.awayGoals" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Home Penalty Score</label>
            <input name="HomePenaltyGoals" #HomePenaltyGoals="ngModel" [(ngModel)]="data.homePenaltyGoals" class="form-control" required />
            <!--<label *ngIf="FirstName.invalid && FirstName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Away Penalty Score</label>
            <input name="AwayPenaltyGoals" #AwayPenaltyGoals="ngModel" [(ngModel)]="data.awayPenaltyGoals" class="form-control" required />
            <!--<label *ngIf="LastName.invalid && LastName.touched" class="validation-error">This field is required</label>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-light btn-block" (click)="goToMaster()">Back</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="onSubmit()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
