<ng-container *ngIf="auth.isLoggedIn; else login">
  <!-- Profile Bar -->
  <div class="card mr-0">
    <div class="row">
      <div class="col-md-12">
        Placeholder for profile link
      </div>
    </div>
  </div>

  <!-- Nav Bar -->
  <ng-container>
    <nav class="navbar navbar-dark bg-dark mb-3 mr-0">

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">Home</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="users">Users</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="players">Players</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="parents">Parents</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="coaches">Coaches</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="teams/myteam">My Team</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="games/mygames">My Games</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="teams">Teams</a>
      </div>

      <div class="navbar-brand">
        <a class="navbar-item" routerLink="games">Games</a>
      </div>
    </nav>
  </ng-container>
</ng-container>
<ng-template #login><div class="mb-3"></div></ng-template>

<div class="row">
  <div class="col-md-12 ml-3">
    <router-outlet></router-outlet>
  </div>
</div>

<!--Footer
<footer class="footer font-small mt-auto py-3">
  <div class="row text-center">
    <div class="col-md-12">
      <span>@Copyright 2019</span>
    </div>
  </div>
</footer>
-->
